.third{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding: 80px;
}
.left-side{
    width:500px ;
    h1{
        font-size: 56px;
        padding: 20px 0px;
       

    }
    p{
        padding: 20px 0px;
    }
    button{
        padding: 16px;
        font-size: 18px;
        background-color:  #ff2020;
        border: none;
        color: white;
        
    }
}