.nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  ul {
    display: flex;
    gap: 40px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-weight: 600;
      }
    }
   
  }
  .menu {
    display: none;
  }
  .icons {
    display: flex;
    gap: 30px;
    font-size: 22px;
    align-items: center;
    cursor: pointer;
    .basket {
      font-size: 28px;
    }
  }
}
.basket:hover {
  color: violet;
}
.search:hover {
  color: violet;
}
.fav:hover {
  color: violet;
}
.count {
  background-color: orangered;
  color: white;
  padding: 3px 7px;
  font-size: 16px;
  border-radius: 50%;
  position: relative;
  right: 40px;
  top: -13px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  position: w;
  position: sticky;
  z-index: 57687989;
  top: 0;
  background-color: white;
}
@media screen and (max-width: 991px) {
  .nav {
    ul {
      display: none;
      
    }
    .menu {
        display: block;
        font-size: 30px;
      }
      
  }
  .container{
    max-width: 100%;
  }
  
}
